[submodule "deps/cmake"]
	path = deps/cmake
	url = https://github.com/staticlibs/cmake.git
[submodule "deps/external_asio"]
	path = deps/external_asio
	url = https://github.com/staticlibs/external_asio.git
[submodule "deps/external_zlib"]
	path = deps/external_zlib
	url = https://github.com/staticlibs/external_zlib.git
[submodule "deps/external_jansson"]
	path = deps/external_jansson
	url = https://github.com/staticlibs/external_jansson.git
[submodule "deps/external_log4cplus"]
	path = deps/external_log4cplus
	url = https://github.com/staticlibs/external_log4cplus.git
[submodule "deps/external_openssl"]
	path = deps/external_openssl
	url = https://github.com/staticlibs/external_openssl.git
[submodule "deps/external_curl"]
	path = deps/external_curl
	url = https://github.com/staticlibs/external_curl.git
[submodule "deps/external_popt"]
	path = deps/external_popt
	url = https://github.com/staticlibs/external_popt.git
[submodule "deps/external_duktape"]
	path = deps/external_duktape
	url = https://github.com/staticlibs/external_duktape.git
[submodule "deps/staticlib_config"]
	path = deps/staticlib_config
	url = https://github.com/staticlibs/staticlib_config.git
[submodule "deps/staticlib_support"]
	path = deps/staticlib_support
	url = https://github.com/staticlibs/staticlib_support.git
[submodule "deps/staticlib_concurrent"]
	path = deps/staticlib_concurrent
	url = https://github.com/staticlibs/staticlib_concurrent.git
[submodule "deps/staticlib_jni"]
	path = deps/staticlib_jni
	url = https://github.com/staticlibs/staticlib_jni.git
[submodule "deps/staticlib_io"]
	path = deps/staticlib_io
	url = https://github.com/staticlibs/staticlib_io.git
[submodule "deps/staticlib_crypto"]
	path = deps/staticlib_crypto
	url = https://github.com/staticlibs/staticlib_crypto.git
[submodule "deps/staticlib_ranges"]
	path = deps/staticlib_ranges
	url = https://github.com/staticlibs/staticlib_ranges.git
[submodule "deps/staticlib_endian"]
	path = deps/staticlib_endian
	url = https://github.com/staticlibs/staticlib_endian.git
[submodule "deps/staticlib_utils"]
	path = deps/staticlib_utils
	url = https://github.com/staticlibs/staticlib_utils.git
[submodule "deps/staticlib_pion"]
	path = deps/staticlib_pion
	url = https://github.com/staticlibs/staticlib_pion.git
[submodule "deps/staticlib_json"]
	path = deps/staticlib_json
	url = https://github.com/staticlibs/staticlib_json.git
[submodule "deps/staticlib_pimpl"]
	path = deps/staticlib_pimpl
	url = https://github.com/staticlibs/staticlib_pimpl.git
[submodule "deps/staticlib_tinydir"]
	path = deps/staticlib_tinydir
	url = https://github.com/staticlibs/staticlib_tinydir.git
[submodule "deps/staticlib_unzip"]
	path = deps/staticlib_unzip
	url = https://github.com/staticlibs/staticlib_unzip.git
[submodule "deps/staticlib_http"]
	path = deps/staticlib_http
	url = https://github.com/staticlibs/staticlib_http.git
[submodule "deps/staticlib_cron"]
	path = deps/staticlib_cron
	url = https://github.com/staticlibs/staticlib_cron.git
[submodule "deps/staticlib_mustache"]
	path = deps/staticlib_mustache
	url = https://github.com/staticlibs/staticlib_mustache.git
[submodule "deps/staticlib_winservice"]
	path = deps/staticlib_winservice
	url = https://github.com/staticlibs/staticlib_winservice.git
[submodule "js/argparse"]
	path = js/argparse
	url = https://github.com/wilton-iot/argparse.git
[submodule "js/assert"]
	path = js/assert
	url = https://github.com/wilton-iot/commonjs-assert.git
[submodule "js/base64-js"]
	path = js/base64-js
	url = https://github.com/wilton-iot/base64-js.git
[submodule "js/bluebird"]
	path = js/bluebird
	url = https://github.com/wilton-iot/bluebird.git
[submodule "js/boolbase"]
	path = js/boolbase
	url = https://github.com/wilton-iot/boolbase.git
[submodule "js/buffer"]
	path = js/buffer
	url = https://github.com/wilton-iot/buffer.git
[submodule "js/cheerio"]
	path = js/cheerio
	url = https://github.com/wilton-iot/cheerio.git
[submodule "js/css-select"]
	path = js/css-select
	url = https://github.com/wilton-iot/css-select.git
[submodule "js/css-what"]
	path = js/css-what
	url = https://github.com/wilton-iot/css-what.git
[submodule "js/dom-serializer"]
	path = js/dom-serializer
	url = https://github.com/wilton-iot/dom-serializer.git
[submodule "js/domelementtype"]
	path = js/domelementtype
	url = https://github.com/wilton-iot/domelementtype.git
[submodule "js/domhandler"]
	path = js/domhandler
	url = https://github.com/wilton-iot/domhandler.git
[submodule "js/domutils"]
	path = js/domutils
	url = https://github.com/wilton-iot/domutils.git
[submodule "js/entities"]
	path = js/entities
	url = https://github.com/wilton-iot/entities.git
[submodule "js/events"]
	path = js/events
	url = https://github.com/wilton-iot/events.git
[submodule "js/htmlparser2"]
	path = js/htmlparser2
	url = https://github.com/wilton-iot/htmlparser2.git
[submodule "js/iconv-lite"]
	path = js/iconv-lite
	url = https://github.com/wilton-iot/iconv-lite.git
[submodule "js/ieee754"]
	path = js/ieee754
	url = https://github.com/wilton-iot/ieee754.git
[submodule "js/inherits"]
	path = js/inherits
	url = https://github.com/wilton-iot/inherits.git
[submodule "js/json-stringify-safe"]
	path = js/json-stringify-safe
	url = https://github.com/wilton-iot/json-stringify-safe.git
[submodule "js/lodash"]
	path = js/lodash
	url = https://github.com/wilton-iot/lodash.git
[submodule "js/moment"]
	path = js/moment
	url = https://github.com/wilton-iot/moment.git
[submodule "js/nth-check"]
	path = js/nth-check
	url = https://github.com/wilton-iot/nth-check.git
[submodule "js/punycode"]
	path = js/punycode
	url = https://github.com/wilton-iot/punycode.js.git
[submodule "js/qs"]
	path = js/qs
	url = https://github.com/wilton-iot/qs.git
[submodule "js/readable-stream"]
	path = js/readable-stream
	url = https://github.com/wilton-iot/readable-stream.git
[submodule "js/sprintf-js"]
	path = js/sprintf-js
	url = https://github.com/wilton-iot/sprintf.js.git
[submodule "js/string_decoder"]
	path = js/string_decoder
	url = https://github.com/wilton-iot/string_decoder.git
[submodule "js/tape-compat"]
	path = js/tape-compat
	url = https://github.com/wilton-iot/tape-compat.git
[submodule "js/underscore"]
	path = js/underscore
	url = https://github.com/wilton-iot/underscore.git
[submodule "js/unicode-escape"]
	path = js/unicode-escape
	url = https://github.com/wilton-iot/unicode-escape.js.git
[submodule "js/util"]
	path = js/util
	url = https://github.com/wilton-iot/node-util.git
[submodule "js/validator"]
	path = js/validator
	url = https://github.com/wilton-iot/validator.js.git
[submodule "js/wilton"]
	path = js/wilton
	url = https://github.com/wilton-iot/wilton.js.git
[submodule "js/wilton-requirejs"]
	path = js/wilton-requirejs
	url = https://github.com/wilton-iot/wilton-requirejs.git
[submodule "tools/closure-compiler"]
	path = tools/closure-compiler
	url = https://github.com/wilton-iot/tools_closure-compiler.git
[submodule "core"]
	path = core
	url = https://github.com/wilton-iot/wilton_core.git
[submodule "tools/convertion-scripts"]
	path = tools/convertion-scripts
	url = https://github.com/wilton-iot/tools_convertion-scripts.git
[submodule "tools/windows/nasm"]
	path = tools/windows/nasm
	url = https://github.com/wilton-iot/tools_windows_nasm.git
[submodule "tools/windows/pkgconfig"]
	path = tools/windows/pkgconfig
	url = https://github.com/wilton-iot/tools_windows_pkgconfig.git
[submodule "tools/windows/zip"]
	path = tools/windows/zip
	url = https://github.com/wilton-iot/tools_windows_zip.git
[submodule "js/examples"]
	path = js/examples
	url = https://github.com/wilton-iot/examples.git
[submodule "tools/windows/wixgen"]
	path = tools/windows/wixgen
	url = https://github.com/wilton-iot/tools_windows_wixgen.git
[submodule "tools/windows/wix"]
	path = tools/windows/wix
	url = https://github.com/wilton-iot/tools_windows_wix.git
[submodule "modules/wilton_cli"]
	path = modules/wilton_cli
	url = https://github.com/wilton-iot/wilton_cli.git
[submodule "modules/wilton_winservice"]
	path = modules/wilton_winservice
	url = https://github.com/wilton-iot/wilton_winservice.git
[submodule "modules/wilton_db"]
	path = modules/wilton_db
	url = https://github.com/wilton-iot/wilton_db.git
[submodule "deps/external_sqlite"]
	path = deps/external_sqlite
	url = https://github.com/staticlibs/external_sqlite.git
[submodule "deps/external_libpq"]
	path = deps/external_libpq
	url = https://github.com/staticlibs/external_libpq.git
[submodule "deps/external_soci"]
	path = deps/external_soci
	url = https://github.com/staticlibs/external_soci.git
[submodule "deps/staticlib_orm"]
	path = deps/staticlib_orm
	url = https://github.com/staticlibs/staticlib_orm.git
[submodule "jni"]
	path = jni
	url = https://github.com/wilton-iot/wilton_jni.git
[submodule "tools/maven"]
	path = tools/maven
	url = https://github.com/wilton-iot/tools_maven.git
[submodule "tools/linux/cmake"]
	path = tools/linux/cmake
	url = https://github.com/wilton-iot/tools_linux_cmake.git
[submodule "tools/linux/jdk8"]
	path = tools/linux/jdk8
	url = https://github.com/wilton-iot/tools_linux_jdk8.git
[submodule "modules/wilton_serial"]
	path = modules/wilton_serial
	url = https://github.com/wilton-iot/wilton_serial.git
[submodule "js/utf8"]
	path = js/utf8
	url = https://github.com/wilton-iot/utf8.js.git
[submodule "modules/wilton_usb"]
	path = modules/wilton_usb
	url = https://github.com/wilton-iot/wilton_usb.git
[submodule "modules/wilton_cron"]
	path = modules/wilton_cron
	url = https://github.com/wilton-iot/wilton_cron.git
[submodule "modules/wilton_fs"]
	path = modules/wilton_fs
	url = https://github.com/wilton-iot/wilton_fs.git
[submodule "modules/wilton_thread"]
	path = modules/wilton_thread
	url = https://github.com/wilton-iot/wilton_thread.git
[submodule "modules/wilton_channel"]
	path = modules/wilton_channel
	url = https://github.com/wilton-iot/wilton_channel.git
[submodule "deps/external_libpng"]
	path = deps/external_libpng
	url = https://github.com/staticlibs/external_libpng.git
[submodule "deps/external_hpdf"]
	path = deps/external_hpdf
	url = https://github.com/staticlibs/external_hpdf.git
[submodule "modules/wilton_pdf"]
	path = modules/wilton_pdf
	url = https://github.com/wilton-iot/wilton_pdf.git
[submodule "modules/wilton_net"]
	path = modules/wilton_net
	url = https://github.com/wilton-iot/wilton_net.git
[submodule "modules/wilton_process"]
	path = modules/wilton_process
	url = https://github.com/wilton-iot/wilton_process.git
[submodule "modules/wilton_duktape"]
	path = modules/wilton_duktape
	url = https://github.com/wilton-iot/wilton_duktape.git
[submodule "modules/wilton_rhino"]
	path = modules/wilton_rhino
	url = https://github.com/wilton-iot/wilton_rhino.git
[submodule "modules/wilton_signal"]
	path = modules/wilton_signal
	url = https://github.com/wilton-iot/wilton_signal.git
[submodule "modules/wilton_http"]
	path = modules/wilton_http
	url = https://github.com/wilton-iot/wilton_http.git
[submodule "modules/wilton_logging"]
	path = modules/wilton_logging
	url = https://github.com/wilton-iot/wilton_logging.git
[submodule "modules/wilton_loader"]
	path = modules/wilton_loader
	url = https://github.com/wilton-iot/wilton_loader.git
[submodule "modules/wilton_jsc"]
	path = modules/wilton_jsc
	url = https://github.com/wilton-iot/wilton_jsc.git
[submodule "tools/android/android-ndk-r9d-arm-linux-androideabi-4.8"]
	path = tools/android/android-ndk-r9d-arm-linux-androideabi-4.8
	url = https://github.com/staticlibs/android-ndk-r9d-arm-linux-androideabi-4.8.git
[submodule "android"]
	path = android
	url = https://github.com/wilton-iot/wilton_android.git
[submodule "tools/android/libc6_2.15"]
	path = tools/android/libc6_2.15
	url = https://github.com/wilton-iot/tools_android_libc6_2.15.git
[submodule "tools/gradle"]
	path = tools/gradle
	url = https://github.com/wilton-iot/tools_gradle.git
[submodule "tools/android/sdk"]
	path = tools/android/sdk
	url = https://github.com/wilton-iot/tools_android_sdk.git
[submodule "js/filesize"]
	path = js/filesize
	url = https://github.com/wilton-iot/filesize.js.git
[submodule "js/statuses"]
	path = js/statuses
	url = https://github.com/wilton-iot/statuses.git
[submodule "js/sjcl"]
	path = js/sjcl
	url = https://github.com/wilton-iot/sjcl.git
[submodule "js/cuint"]
	path = js/cuint
	url = https://github.com/wilton-iot/js-cuint.git
[submodule "js/mime-db"]
	path = js/mime-db
	url = https://github.com/wilton-iot/mime-db.git
[submodule "js/weak-map"]
	path = js/weak-map
	url = https://github.com/wilton-iot/weak-map.git
[submodule "js/collections"]
	path = js/collections
	url = https://github.com/wilton-iot/collections.git
[submodule "js/tinycolor"]
	path = js/tinycolor
	url = https://github.com/wilton-iot/TinyColor.git
[submodule "js/ramda"]
	path = js/ramda
	url = https://github.com/wilton-iot/ramda.git
[submodule "js/jsverify"]
	path = js/jsverify
	url = https://github.com/wilton-iot/jsverify.git
[submodule "js/lazy-seq"]
	path = js/lazy-seq
	url = https://github.com/wilton-iot/lazy-seq.git
[submodule "js/rc4"]
	path = js/rc4
	url = https://github.com/wilton-iot/rc4.git
[submodule "js/typify-parser"]
	path = js/typify-parser
	url = https://github.com/wilton-iot/typify-parser.git
[submodule "js/trampa"]
	path = js/trampa
	url = https://github.com/wilton-iot/trampa.git
[submodule "js/sanctuary-type-identifiers"]
	path = js/sanctuary-type-identifiers
	url = https://github.com/wilton-iot/sanctuary-type-identifiers.git
[submodule "js/sanctuary-type-classes"]
	path = js/sanctuary-type-classes
	url = https://github.com/wilton-iot/sanctuary-type-classes.git
[submodule "js/sanctuary-def"]
	path = js/sanctuary-def
	url = https://github.com/wilton-iot/sanctuary-def.git
[submodule "js/sanctuary"]
	path = js/sanctuary
	url = https://github.com/wilton-iot/sanctuary.git
[submodule "js/fantasy-land"]
	path = js/fantasy-land
	url = https://github.com/wilton-iot/fantasy-land.git
[submodule "js/immutable"]
	path = js/immutable
	url = https://github.com/wilton-iot/immutable-js.git
[submodule "js/xregexp"]
	path = js/xregexp
	url = https://github.com/wilton-iot/xregexp.git
[submodule "js/fromcodepoint"]
	path = js/fromcodepoint
	url = https://github.com/wilton-iot/String.fromCodePoint.git
[submodule "js/querystring"]
	path = js/querystring
	url = https://github.com/wilton-iot/querystring.git
[submodule "js/url"]
	path = js/url
	url = https://github.com/wilton-iot/node-url.git
[submodule "js/ip"]
	path = js/ip
	url = https://github.com/wilton-iot/node-ip.git
[submodule "js/cookie"]
	path = js/cookie
	url = https://github.com/wilton-iot/cookie.git
[submodule "js/sax"]
	path = js/sax
	url = https://github.com/wilton-iot/sax-js.git
[submodule "js/xml-writer"]
	path = js/xml-writer
	url = https://github.com/wilton-iot/node-xml-writer.git
[submodule "js/random"]
	path = js/random
	url = https://github.com/wilton-iot/random-js.git
[submodule "js/text"]
	path = js/text
	url = https://github.com/wilton-iot/text.git
[submodule "js/json"]
	path = js/json
	url = https://github.com/wilton-iot/requirejs-json-plugin.git
[submodule "js/saxpath"]
	path = js/saxpath
	url = https://github.com/wilton-iot/saxpath.git
[submodule "js/string-to-stream"]
	path = js/string-to-stream
	url = https://github.com/wilton-iot/string-to-stream.git
[submodule "js/typedarray"]
	path = js/typedarray
	url = https://github.com/wilton-iot/typedarray.git
[submodule "js/concat-stream"]
	path = js/concat-stream
	url = https://github.com/wilton-iot/concat-stream.git
[submodule "js/process-nextick-args"]
	path = js/process-nextick-args
	url = https://github.com/wilton-iot/process-nextick-args.git
[submodule "js/is-in-browser"]
	path = js/is-in-browser
	url = https://github.com/wilton-iot/is-in-browser.git
[submodule "deps/staticlib_compress"]
	path = deps/staticlib_compress
	url = https://github.com/staticlibs/staticlib_compress.git
[submodule "modules/wilton_crypto"]
	path = modules/wilton_crypto
	url = https://github.com/wilton-iot/wilton_crypto.git
[submodule "modules/wilton_zip"]
	path = modules/wilton_zip
	url = https://github.com/wilton-iot/wilton_zip.git
[submodule "modules/wilton_server"]
	path = modules/wilton_server
	url = https://github.com/wilton-iot/wilton_server.git
[submodule "js/spark-md5"]
	path = js/spark-md5
	url = https://github.com/wilton-iot/js-spark-md5.git
[submodule "bench"]
	path = bench
	url = https://github.com/wilton-iot/wilton_bench.git
[submodule "tools/ant"]
	path = tools/ant
	url = https://github.com/wilton-iot/tools_ant.git
[submodule "tools/windows/perl520"]
	path = tools/windows/perl520
	url = https://github.com/wilton-iot/tools_windows_perl520.git
[submodule "tools/bench/wrk"]
	path = tools/bench/wrk
	url = https://github.com/wilton-iot/wrk.git
[submodule "tools/bench/FlameGraph"]
	path = tools/bench/FlameGraph
	url = https://github.com/wilton-iot/FlameGraph.git
[submodule "tools/bench/nmon"]
	path = tools/bench/nmon
	url = https://github.com/wilton-iot/nmon.git
[submodule "tools/bench/nmonvisualizer"]
	path = tools/bench/nmonvisualizer
	url = https://github.com/wilton-iot/nmonvisualizer.git
[submodule "modules/wilton_chakra"]
	path = modules/wilton_chakra
	url = https://github.com/wilton-iot/wilton_chakra
[submodule "modules/wilton_examples"]
	path = modules/wilton_examples
	url = https://github.com/wilton-iot/wilton_examples.git
[submodule "deps/lookaside_openssl"]
	path = deps/lookaside_openssl
	url = https://github.com/staticlibs/lookaside_openssl.git
[submodule "deps/lookaside_asio"]
	path = deps/lookaside_asio
	url = https://github.com/staticlibs/lookaside_asio.git
[submodule "deps/lookaside_curl"]
	path = deps/lookaside_curl
	url = https://github.com/staticlibs/lookaside_curl.git
[submodule "deps/lookaside_libharu"]
	path = deps/lookaside_libharu
	url = https://github.com/staticlibs/lookaside_libharu.git
[submodule "deps/lookaside_jansson"]
	path = deps/lookaside_jansson
	url = https://github.com/staticlibs/lookaside_jansson.git
[submodule "deps/lookaside_libpng"]
	path = deps/lookaside_libpng
	url = https://github.com/staticlibs/lookaside_libpng.git
[submodule "deps/lookaside_postgresql"]
	path = deps/lookaside_postgresql
	url = https://github.com/staticlibs/lookaside_postgresql.git
[submodule "deps/lookaside_log4cplus"]
	path = deps/lookaside_log4cplus
	url = https://github.com/staticlibs/lookaside_log4cplus.git
[submodule "deps/lookaside_popt"]
	path = deps/lookaside_popt
	url = https://github.com/staticlibs/lookaside_popt.git
[submodule "deps/lookaside_soci"]
	path = deps/lookaside_soci
	url = https://github.com/staticlibs/lookaside_soci.git
[submodule "deps/lookaside_zlib"]
	path = deps/lookaside_zlib
	url = https://github.com/staticlibs/lookaside_zlib.git
[submodule "deps/ccronexpr"]
	path = deps/ccronexpr
	url = https://github.com/staticlibs/ccronexpr.git
[submodule "deps/mstch_cpp11"]
	path = deps/mstch_cpp11
	url = https://github.com/staticlibs/mstch_cpp11.git
[submodule "deps/tinydir"]
	path = deps/tinydir
	url = https://github.com/staticlibs/tinydir.git
[submodule "js/pwdauth"]
	path = js/pwdauth
	url = https://github.com/wilton-iot/pwdauth.git
[submodule "js/xml-js"]
	path = js/xml-js
	url = https://github.com/wilton-iot/xml-js.git
[submodule "js/uglify-js"]
	path = js/uglify-js
	url = https://github.com/wilton-iot/UglifyJS.git
[submodule "js/es6-shim"]
	path = js/es6-shim
	url = https://github.com/wilton-iot/es6-shim.git
[submodule "modules/wilton_ghc"]
	path = modules/wilton_ghc
	url = https://github.com/wilton-iot/wilton_ghc.git
[submodule "tools/mvnrepo"]
	path = tools/mvnrepo
	url = https://github.com/wilton-iot/tools_mvnrepo.git
[submodule "modules/wilton_mustache"]
	path = modules/wilton_mustache
	url = https://github.com/wilton-iot/wilton_mustache.git
