# Copyright 2018, alex at staticlibs.net
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

language: cpp

sudo: false

os:
  - linux
  - osx

git:
  submodules: false

addons:
  apt:
    packages:
      - build-essential
      - pkg-config
      - zip
      - zlib1g-dev
      - libjansson-dev
      - liblog4cplus-dev
      - libssl-dev
      - libcurl4-openssl-dev
      - libpopt-dev
      - libsqlite3-dev
      - libpq-dev
      - libpng12-dev
      - libusb-1.0-0-dev
      - libudev-dev
      - libglib2.0-dev
      - libjavascriptcoregtk-3.0-dev
      - libgtk-3-dev
      - libwebkitgtk-3.0-dev
      - valgrind

before_install:
  - export CC=
  - export CXX=

install:
#  - cd ..
#  - git clone https://github.com/wilton-iot/wilton
#  - cd wilton
  - bash ./resources/ci/travis-checkout.sh

before_script:
  - echo "PR support is enabled for root repo"

script:
  - bash ./resources/ci/travis.sh

notifications:
  email:
    on_success: always
