#!/usr/bin/make -f


%:
	dh $@

#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

override_dh_auto_build:
	dexport JAVA_HOME=$(readlink -f /usr/bin/javac | sed "s:/bin/javac::")
	cd wilton
	mkdir build
	cd build
	cmake .. -DWILTON_BUILD_FLAVOUR=focal
	make -j 7
	make dist_unversioned
	mv wilton_dist ../..
